{%extends "registration/base.html"%} {% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1><a class="active fa fa-camera" style="color: black;" href="#">Instagram</a></h1>
      {% if form.errors %}
      <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="username" aria-describedby="emailHelp"
                placeholder="Enter username" required>
            </div>
            <div class="form-group">

              <input type="password" class="form-control" name="password1" id="exampleInputPassword1"
                placeholder="Password" required>
            </div>
            <div class="form-group">

              <input type="password" class="form-control" name="password2" id="exampleInputPassword1"
                placeholder="confirm password" required>
            </div>
            <div class="form-group">

              <input type="text" class="form-control" name="email" aria-describedby="emailHelp"
                placeholder="Email" required>
            </div>
            <button type="submit" class="btn btn-primary">register</button>
          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}