{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Instagram - {{title}}</title>
  {% else %}
    <title> Instagram </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}
    {% block content %} <h1 class='text-center'>Welcome to Instagram</h1> {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
    <div class="container">

        <!-- Looping through news   -->
        {% for image in images %}
      
        <div class="row">
          <!-- displaying News articles -->
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ image.name }} </h2>
            <div class="col">
            <i class="fas fa-map-marker-alt"></i> {{image.image_caption}}
            </div>
          </div>
      
        </div>
        <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{image.image.url}}" class="img-responsive" alt="Image">
      </div>
  
      
       
        <div class="row">
            <!-- <i class="fas fa-stopwatch"></i> {{image.timestamp}} -->
          <h2 class="text-center">There No News Items</h2>
        </div>
        {% endfor %}
      
      </div>
</body>
</html>