{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Instagram - {{title}}</title>
  {% else %}
    <title> Instagram </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}
    {% block content %} <h1 class='text-center'><a class="active fa fa-camera" style="color: black;" href="#">Instagram</a>
    </h1> {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
    <div class="container">

      

        {% for post in posts %}
         <div class="card">
          <!-- displaying News articles -->
          <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> -->
            <img src="{{post.image.url}}" class="img-responsive" alt="Image">
          <!-- </div> -->
          <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> -->
            <h5 class="text-center"> {{ post.image_name }}</h5>
            <i class="fas fa-map-marker-alt"></i> {{post.image_caption}}
            <div class="col">
            <button type="submit"><i class="fa fa-heart-o" style="color: black;"></i></i></button>
            <button type="submit"><i class="fa fa-comment-o" style="color: black;"></i></i></button>
            <button type="submit"><i class="fa fa-location-arrow" style="color: black;"></i></button>


            </div> 
          </div>
       
         </div>
     
  
      
       
        
        {% endfor %}
      
     </div>
</body>
</html>